<%= form_for(@discover) do |f| %>
  <% if @discover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discover.errors.count, "error") %> prohibited this discover from being saved:</h2>

      <ul>
      <% @discover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
