<div class="discover text-center">
  <div class="row title">
    <%= image_tag "share/title.png" %>
  </div>

  <div class="avatar">
    <%= image_tag "share/title.png", class: "img-circle" %>
  </div>

  <div class="detail">
    <p class="name">咻咻</p>
    <p>
      <span class="age">23</span>
      <span class="constellation">天秤座</span>
    </p>
  </div>
</div>


