<div class="discover text-center">
  <div class="row title">
    <%= image_tag "share/title.png" %>
  </div>

  <div class="avatar">
    <%= image_tag "share/title.png", class: "img-circle" %>
  </div>

  <div class="detail">
    <p class="name">咻咻</p>
    <p>
      <span class="age">23</span>
      <span class="constellation">天秤座</span>
    </p>
    <p class="hint">Ta在旅客App发起了一条邀约，快来响应吧！</p>
    <div class="desc">
      简单的驻足，随意的观望，还有对我以及我们富有永恒记忆的诞生：我穿着简单的驻足，随意的观望，还有对我以及我们富有永恒记忆的诞生：我穿着……
    </div>
    <div class="foot">
      <span class="pull-left">已有15人响应Ta</span>
      <span class="pull-right">2015.09.24-2016.01.23</span>
    </div>
  </div>



</div>


