<div class="container agreement">
  <h1>旅客用户服务协议</h1>
  <h2>1.总则</h2>
  <p>旅客根据以下服务条款为您提供服务。这些条款可由旅客随时更新,且毋须另行通知。旅客 使用协议(以下简称“使用协议”)一旦发生变动,旅客将在网页上公布修改内容。修改后 的使用协议一旦在网页上公布即有效代替原来的使用协议。
  </p>
  <p>您在使用旅客提供的各项服务之前,应仔细阅读本使用协议。如您不同意本使用协议及/或 随时对其的修改,请您立即停止使用旅客所提供的全部服务;您一旦使用旅客服务,即视为 您已了解并完全同意本使用协议各项内容,包括旅客对使用协议随时所做的任何修改,并成 为旅客用户(以下简称“用户”)。</p>
  <h2>2.服务说明</h2>
  <p>旅客目前向用户提供如下服务:推荐其他用户及旅行相关服务。除非本使用协议另有其它明 示规定,增加或强化目前本服务的任何新功能,包括所推出的新产品,均受到本使用协议之 规范。您了解并同意,本服务仅依其当前所呈现的状况提供,对于任何用户信息或个人化设 定之时效、删除、传递错误、未予储存或其它任何问题,旅客均不承担任何责任。旅客保留 不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。</p>
  <h2>3.遵守法律</h2>
  <p>您同意遵守中华人民共和国相关法律法规的所有规定,并对以任何方式使用您的密码和您的 账号使用本服务的任何行为及其结果承担全部责任。如您的行为违反国家法律和法规的任何 规定,有可能构成犯罪的,将被追究刑事责任,并由您承担全部法律责任。</p>
  <p>同时如果旅客有理由认为您的任何行为,包括但不限于您的任何言论和其它行为违反或可能 违反国家法律和法规的任何规定,旅客可在任何时候不经任何事先通知终止向您提供服务</p>
  <h2>4.您的注册义务</h2>
  <p>为了能使用本服务,您同意以下事项:依本服务注册提示请您填写正确的注册手机、密码和 昵称,并确保今后更新的登录手机、昵称、头像等资料的有效性和合法性。若您提供任何违 法、不道德或旅客认为不适合在旅客上展示的资料;或者旅客有理由怀疑你的资料属于程序 或恶意操作,旅客有权暂停或终止您的账号,并拒绝您于现在和未来使用本服务之全部或任 何部分。</p>
  <p>
  旅客无须对任何用户的任何登记资料承担任何责任,包括但不限于鉴别、核实任何登记资料 的真实性、正确性、完整性、适用性及/或是否为最新资料的责任。</p>
  <h2>5.用户账号、密码及安全</h2>
  <p>完成本服务的注册程序并成功注册之后,您可使用您的手机号码和密码,登录到您在旅客的
  账号(下称“账号”)。保护您的账号安全,是您的责任。 您应对所有使用您的密码及账号 的活动负完全的责任。您同意:</p>
  <p>1)您的旅客账号遭到未获授权的使用,或者发生其它任何安全问题时,您将立即通知旅客;</p>
  <p>2)如果您未保管好自己的账号和密码,因此而产生的任何损失或损害,旅客无法也不承担任
  何责任;</p>
  <p>3)每个用户都要对其账号中的所有行为和事件负全责。如果您未保管好自己的账号和密码而 对您、旅客或第三方造成的损害,您将负全部责任。
  </p>
  <h2>
  6.旅客隐私权政策</h2>
  <p>您提供的登记资料及旅客保留的有关您的若干其它资料将受到中国有关隐私的法律之规范。</p>
  <h2>7.提供者之责任</h2>
  <p>根据有关法律法规,旅客在此郑重提请您注意,任何经由本服务而发布、上传的文字、资讯、 资料、音乐、照片、图形、视讯、信息或其它资料(以下简称“内容”),无论系公开还是私 下传送,均由内容提供者承担责任。旅客仅为用户提供内容存储空间,无法控制经由本服务 传送之内容,因此不保证内容的正确性、完整性或品质。您已预知使用本服务时,可能会接 触到令人不快、不适当或令人厌恶之内容。在任何情况下,旅客均不为任何内容负责,但旅 客有权依法停止传输任何前述内容并采取相应行动,包括但不限于暂停用户使用本服务的全 部或部分,保存有关记录,并向有关政府部门报告。
  </p>
  <h2>8.用户行为</h2>
  <p>用户同意将不会利用本服务进行任何违法或不正当的活动,包括但不限于下列行为∶</p>
  <p>1)发布或以其它方式传送含有下列内容之一的信息:
  </p>
  <p>
    * 反对宪法所确定的基本原则的;<br>
    * 危害国家安全,泄露国家秘密,颠覆国家政权,破坏国家统一的;<br>
    * 损害国家荣誉和利益的;<br>
    * 煽动民族仇恨、民族歧视、破坏民族团结的;<br>
    * 破坏国家宗教政策,宣扬邪教和封建迷信的;<br>
    * 散布谣言,扰乱社会秩序,破坏社会稳定的;<br>
    * 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的;<br>
    * 侮辱或者诽谤他人,侵害他人合法权利的;<br>
    * 含有虚假、诈骗、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、
    或其它道德上令人反感的内容;<br>
    * 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其
    它内容的;<br>
    * 含有旅客认为不适合展示的内容;<br>
  </p>
  <p>2)以任何方式危害他人的合法权益;</p>
  <p>3)依据任何法律或合约或法定关系(例如由于雇佣关系和依据保密合约所得知或揭露之内部 资料、专属及机密资料)知悉但无权传送之任何内容加以发布、发送电子邮件或以其它方式 传送;</p>
  <p>4)将侵害他人著作权、专利权、商标权、商业秘密、或其它专属权利(以下简称“专属权利”) 之内容加以发布或以其它方式传送;</p>
  <p>5)将任何广告信函、促销资料、“垃圾邮件”、“滥发信件”、“连锁信件”、“直销”或其它任 何形式的劝诱资料加以发布、发送或以其它方式传送;</p>
  <p>6)将设计目的在于干扰、破坏或限制任何计算机软件、硬件或通讯设备功能之计算机病毒或 其它计算机代码、档案和程序之任何资料,加以发布、发送或以其它方式传送;
  </p>
  <p>7)干扰或破坏本服务或与本服务相连线之服务器和网络,或违反任何关于本服务连线网络之 规定、程序、政策或规范;</p>
  <p>8)跟踪、人肉搜索或以其它方式骚扰他人;</p>
  <p>9)故意或非故意地违反任何适用的当地、国家法律,以及任何具有法律效力的规则;</p>
  <p>10)未经合法授权而截获、篡改、收集、储存或删除他人个人信息、站内通讯或其它数据资 料,或将获知的此类资料用于任何非法或不正当目的。</p>
  <p>您已认可旅客未对用户的使用行为进行全面控制,您使用任何内容时,包括依赖前述内容之 正确性、完整性或实用性时,您同意将自行加以判断并承担所有风险,而不依赖于旅客。但 旅客依其自行之考虑,拒绝和删除可经由本服务提供之违反本条款的或其它引起旅客反感的 任何内容。</p>
  <p>您了解并同意,旅客依据法律法规的要求,或基于诚信为了以下目的或在合理必要范围内, 认定必须将内容加以保存或揭露时,得加以保存或揭露:
  </p>
  <p>a)遵守法律程序；<br>
  b)执行本使用协议; <br>
  c)回应任何第三人提出的权利主张; <br>
  d)保护旅客、其用户及公众之权利、财产或个人安全; <br>
  e)其它旅客认为有必要的情况。<br>
  9.国际使用之特别警告</p>
  <p>您已了解国际互联网的无国界性,同意遵守当地所有关于网上行为及内容之法律法规。您特 别同意遵守有关从中国或您所在国家或地区输出信息之传输的所有适用法律法规。</p>
  <h2>10.在旅客发布的公开信息</h2>
  <p>1)在本使用协议中,“本服务公开使用区域”系指一般公众可以使用的区域;</p>
  <p>2)用户在旅客上传或发布的内容,用户应保证其为著作权人或已取得合法授权,并且该内容 不会侵犯任何第三方的合法权益,用户同意授予旅客所有上述内容在全球范围内的免费、不 可撤销的、永久的、可再许可或转让的独家使用权许可,据该许可旅客将有权以展示、推广 及其他不为中国法律所禁止的方式使用前述内容。</p>
  <h2>11.免责声明</h2>
  <p>1)用户明确同意其将文字、资讯、资料、音乐、照片、图形、视讯、信息或其它个人资料上 传到互联网上,有可能被其他组织或个人复制、转载、或做其它用途的风险完全由其自己承 担;因其使用旅客服务而产生的一切后果也由其自己承担,我们对用户不承担任何责任。</p>
  <p>2)微博和微信旅客官方帐号对用户的相关文字、资讯、资料、音乐、照片、图形、视讯、信 息或其它个人资料进行推广发布的,不属于对用户相关权益的侵权行为、旅客不承担任何责 任。</p>
  <p>3)网站上针对用户的恶意评论,经用户的举报我们会采取删除处理,但不保证服务一定能满 足用户的要求,也不对该恶意评论负任何法律责任。</p>
  <h2>12.赔偿</h2>
  <p>由于您通过本服务提供、发布或传送之内容、您与本服务连线、您违反本使用协议、或您侵 害他人任何权利因而衍生或导致任何第三人提出任何索赔或请求,包括合理的律师费,您同 意赔偿旅客及其子公司、关联企业、高级职员、代理人、品牌共有人或其它合作伙伴及员工, 并使其免受损害,并承担由此引发的全部法律责任。</p>
  <h2>13.禁止商业行为</h2>
  <p>您同意不对本服务任何部分或本服务之使用或获得,进行复制、拷贝、出售、转售或用于任
  何其它商业目的。</p>
  <h2>14.关于使用及储存之一般措施</h2>
  <p>您承认关于本服务的使用旅客有权制订一般措施及限制,包含但不限于本服务将保留所发布 内容或其它发布内容之最长期间,以及一定期间内您使用本服务之次数上限(及每次使用时 间之上限)。通过本服务发布或传送之任何信息、通讯资料和其它内容,如被删除或未予储 存,您同意旅客无须承担任何责任。您也同意,旅客有权依其自行之考虑,不论通知与否, 随时变更这些一般措施及限制。</p>
  <h2>15.服务之修改</h2>
  <p>旅客有权于任何时间暂时或永久修改或终止本服务(或其任何部分),且无论通知与否。您 同意对于本服务所作的任何修改、暂停或终止,旅客对您和任何第三人均无需承担任何责任。</p>
  <h2>16.终止服务</h2>
  <p>您同意旅客基于其自行之考虑,因任何理由,包含但不限于缺乏使用,或旅客认为您已经违 反本使用协议的文字及精神,终止您的账号或本服务之使用(或服务之任何部分),并将您 在本服务内任何内容加以移除并删除。您同意依本使用协议任何规定提供之本服务,无需进 行事先通知即可中断或终止,您承认并同意,旅客可立即关闭或删除您的账号及您账号中所 有相关信息及文件,及/或禁止继续使用前述文件或本服务。此外,您同意若本服务之使用 被中断或终止或您的账号及相关信息和文件被关闭或删除,旅客对您或任何第三人均不承担 任何责任。</p>
  <h2>17.与广告商及其他第三方进行交易</h2>
  <p>您通过本网站与广告商及其他第三方进行任何形式的通讯或商业往来,或参与促销活动,包 含相关商品或服务之付款及交付,以及达成的其它任何相关条款、条件、保证或声明,完全 为您与广告商及其他第三方之间之行为。您因前述任何交易或前述广告商及其他第三方而遭 受的任何性质的损失或损害,旅客对此不负任何法律责任。</p>
  <h2>18.旅客之专属权利</h2>
  <p>您了解并同意,本服务及本服务所使用之相关软件(以下简称“软件”)含有受到相关知识 产权及其它法律保护之专有保密资料。您也了解并同意,经由本服务或广告商向您呈现之赞 助广告或信息所包含之内容,亦受到著作权、商标权、服务商标、专利权或其它专属权利之 法律保护。未经旅客或广告商明示授权,您不得修改、出租、出借、出售、散布本服务或软 件之任何部份或全部,或据以制作衍生著作,或使用擅自修改后的软件,包括但不限于为了 未经授权而使用本服务之目的。旅客仅授予您个人、不可移转及非专属之使用权,使您得于 单机计算机使用其软件之目的,但您不得(并不得允许任何第三人)复制、修改、创作衍生 著作、进行还原工程、反向组译,或以其它方式发现原始代码,或出售、转让、再授权或提 供软件设定担保,或以其它方式移转软件之任何权利。您同意将通过由旅客所提供的界面而 非任何其它途径使用本服务。</p>
  <h2>19.担保与保证</h2>
  <p>您明确了解并同意∶</p>
  <p>1)本使用协议的任何规定不会免除旅客对造成您人身伤害的、或因故意或重大过失造成您财 产损失的任何责任;
  </p>
  <p>2)您使用本服务之风险由您个人负担。本服务系依“现状”及“现有”基础提供。旅客对本 服务不提供任何明示或默示的担保或保证,包含但不限于商业适售性、特定目的之适用性及 未侵害他人权利等担保或保证;</p>
  <p>3)旅客不保证以下事项∶</p>
  <p>
    * 本服务将符合您的要求;<br>
    * 本服务将不受干扰、及时提供、安全可靠或不会出错;<br>
    * 使用本服务取得之结果正确可靠;<br>
    * 您经由本服务购买或取得之任何产品、服务、资讯或其它信息将符合您的期望;<br>
  </p>
  <p>4)是否使用本服务下载或取得任何资料应由您自行考虑且自负风险,因任何资料之下载而导 致的您手机之任何损坏或数据流失等后果,由您自行承担;</p>
  <p>5)您自旅客或经由本服务取得的任何建议或信息,无论是书面或口头形式,除非本使用协议 有明确规定,将不构成本使用协议以外之任何保证。</p>
  <p>6)如果旅客和/或合作单位使用您提供的肖像、姓名或其他合法权益,您同意将您的肖像、 姓名和/或其他合法权益一并授权给旅客和/或合作单位使用。</p>
  <h2>20.责任限制</h2>
  <p>您明确了解并同意,基于以下原因而造成的,包括但不限于利润、信誉、应用、数据损失或
  其它无形损失,旅客不承担任何直接、间接、附带、特别、衍生性或惩罚性赔偿责任:</p>
  <p>1)本服务之使用或无法使用;</p>
  <p>2)为替换从或通过本服务购买或取得之任何商品、数据、信息、服务,收到的讯息,或缔结 之交易而发生的成本;</p>
  <p>3)您的传输或数据遭到未获授权的存取或变造;</p>
  <p>4)任何第三方在本服务中所作之声明或行为;
  </p>
  <p>5)与本服务相关的其它事宜,但本使用协议有明确规定的除外;
  </p>
  <p>6)第三方以任何方式发布或投递欺诈性信息,或诱导用户受到经济损失,旅客不承担任何责 任。</p>
  <h2>21.旅客商标信息</h2>
  <p>未经旅客事先书面同意,您同意不将旅客及其他旅客注册商标、标志及产品、服务名称以任
  何方式展示或使用或作其它处理,或表示您有权展示、使用或另行处理旅客标记。</p>
  <h2>22.用户专属权利</h2>
  <p>旅客尊重他人知识产权,呼吁用户也要同样尊重知识产权。</p>
  <p>旅客之服务与资料是基于“现状”提供,而且旅客明确地表示拒绝对于“服务”、“资料”或
  “产品”给予任何明示或暗示之保证,包括但不限于,得为商业使用或适合于特定目的之保 证。旅客对于因“服务”、“资料”或“产品”所生之任何直接、间接、附带的或因此而导致 之衍生性损失概不负责。</p>
  <p>如果您对他人的知识产权造成了侵害,旅客将依国家法律法规的规定,或在适当的情形下, 将依其服务条款或其相关规范性规定,删除特定内容或以至终止您对账户的使用。</p>
  <p>旅客尊重他人的任何权利(包括知识产权),同时也要求我们的使用者也尊重他人之权利。 旅客在适当情况下,得自行决定终止侵害或违反他人权利之使用者的账号。</p>
  <p>若您认为您的作品的著作权遭到侵害或您的知识产权被侵犯,根据《信息网络传播权保护条 例》的规定,您需及时向旅客联系并提供详实的举证材料。或请到中华人民共和国国家版权 局下载《要求删除或断开链接侵权网络内容的通知》(下称“删除通知”)的示范格式,如果 您不明白“删除通知”的内容,请登录中华人民共和国国家版权局查看《要求删除或断开链 接侵权网络内容的通知》填写说明。
  </p>
  <h2>23. 一般条款</h2>
  <p>1)本使用协议、社区指导原则和免责声明构成您与旅客之全部协议,并规范您对于本服务之 使用行为。在您使用相关服务、使用第三方提供的内容或软件时,亦应遵从所适用之附加条 款及条件;</p>
  <p>2)本使用协议及您与旅客之关系,均受到中华人民共和国法律管辖。您与旅客就本服务、本 使用协议或其它有关事项发生的争议,应首先友好协商解决,协商不成时应提请中国国际经 济贸易仲裁委员会仲裁,仲裁裁决是终局性的,对双方均有约束力;
  </p>
  <p>3)旅客未行使或执行本使用协议任何权利或规定,不构成对前述权利或权利之放弃;</p>
  <p>4)倘本使用协议之任何规定因与中华人民共和国法律抵触而无效,您依然同意应依照法律, 努力使该规定所反映之当事人意向具备效力,且本使用协议其它规定仍应具有完整的效力及 效果;</p>
  <p>5)本使用协议之标题仅供方便而设,不具任何法律或契约效果;</p>
  <p>6)只要您登录旅客,就代表您认可以上所有协议。</p>
  <p>7)旅客对本使用协议享有最终解释权。</p>

</div>