<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% (0..4).each do |index| %>
      <li data-target="#home-carousel" data-slide-to=<%= index %> class="<%= "active" if index == 0 %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% (0..4).each do |index| %>
      <div class="item <%= "active" if index == 0 %>">
        <%= image_tag "home_#{index}.jpg" %>
      </div>  
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
