default: &default
  # corpid: "corpid"
  # corpsecret: "corpsecret"
  # agentid:  1
# Or if using public account, only need above two line
  appid: "wx800a0eaa11046012"
  secret: "2ab62d301d6135784194bba2afe3b941"
  token:    "71f72bcb9f99bfb2a6635c30"
  # access_token: "C:/Users/[username]/wechat_access_token"
  encrypt_mode: false # if true must fill encoding_aes_key
  # encoding_aes_key:  "9973d6649ba6a215bb9945f4cc3999e9dcad9fd6d76"
  # jsapi_ticket: "C:/Users/[user_name]/wechat_jsapi_ticket"

production:
  <<: *default
#   corpid:     <%= ENV['WECHAT_CORPID'] %>
#   corpsecret: <%= ENV['WECHAT_CORPSECRET'] %>
#   agentid:    <%= ENV['WECHAT_AGENTID'] %>
# # Or if using public account, only need above two line
# #  appid:      
# #  secret:     
#   token:      <%= ENV['WECHAT_TOKEN'] %>
#   timeout:    30,
#   skip_verify_ssl: true
#   access_token:  <%= ENV['WECHAT_ACCESS_TOKEN'] %>
#   encrypt_mode: false # if true must fill encoding_aes_key
#   encoding_aes_key:  <%= ENV['WECHAT_ENCODING_AES_KEY'] %>
#   jsapi_ticket: <%= ENV['WECHAT_JSAPI_TICKET'] %>
#   oauth2_cookie_duration: <%= ENV['WECHAT_OAUTH2_COOKIE_DURATION'] %> # seconds

development:
  <<: *default
  trusted_domain_fullname: "http://192.168.0.102:3000"

test:
  <<: *default