// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home-carousel {
  max-width: 640px;
}

.home {
  background-image: image_url("home/background.png");
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
  padding-top: 60px;
  padding-bottom: 60px;
  .row {
    margin: 0px;
  }
  .logo {
    img {
      width: 30%;
    }
  }
  .intro {
    margin-top: 30px;
    img {
      width: 45%;
    }
  }
  .install {
    margin-top: 60px;
    img {
      width: 55%;
    }
  }
  .hint {
    margin-top: 30px;
    img {
      width: 60%;
    }
  }
  .social {
    margin-top: 50px;
    img {
      width: 40%;
    }
  }
  .company {
    margin-top: 40px;
    img {
      width: 30%;
    }
  }
}
