.discover {
  background-image: image_url("share/background.png");
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
  padding-top: 60px;
  padding-bottom: 0px;
  .row {
    margin: 0px;
  }

  .title {
    img {
      width: 90%;
    }
  }

  .avatar {
    margin-top: 30px;
    img {
      width: 100px;
      height: 100px;
    }
  }

  .detail {
    background: #FEFFFF;
    margin: -50px 15px 15px 15px;
    padding: 60px 8px 30px 8px;
    .name {
      font-size: 25px;
      color: #000000;
    }
    .age {
      color: #7C7D7E;
      font-size: 16px;
    }
    .constellation {
      color: #7C7D7E;
    }
    .sex {
      width: 25px;
    }
    .hint {
      font-size: 15px;
    }
    .desc {
      color: #7C7D7E;
      font-size: 16px;
      text-align: left;
    }
    .pics {
      margin: 10px 0px 0px 0px;
      .pic {
        padding: 0px 1px 0px 1px;
      }
      img {
        width: 100%;
      }
    }
    .foot {
      margin-top: 20px;
      .pull-left {
        color: #7C7D7E;
        font-size: 16px;
      }
      .pull-right {
        font-size: 14px; 
      }
    }
  }

  .link {
    background: #FEFFFF;
    margin-top: 50px;
    padding: 10px 0px 10px 0px;
    a {
      color: #31ADF5;
      font-size: 20px;
      text-decoration: none;
    }
  }
}